* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  color: #333;
  line-height: 1.6;
  padding: 0 5%;
}
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.logo {
  font-size: 1rem;
  font-weight: 700;
  color: #222;
}
.icon {
  background-color: #6b4eff;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  margin-right: 8px;
}
nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}
nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
.products-btn {
  background-color: transparent;
  color: #6b4eff;
  border: 2px solid #6b4eff;
  padding: 5px 15px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
}
.hero .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  margin: 30x 100px;
}
.hero-text {
  max-width: 50%;
}
.hero-text h1 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.highlight {
  color: #6b4eff;
}
.hero-text p {
  font-size: 1rem;
  margin-bottom: 25px;
  color: #555;
}
.btn-group {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}
.btn-primary {
  background-color: #6b4eff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
}
.btn-secondary {
  background-color: #f3f3f3;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  color: #333;
}
.question-link {
  font-size: 0.9rem;
  color: #6b4eff;
  text-decoration: underline;
}
.hero-image img {
  width: 400px;
  border-radius: 20px;
}

/* Product Cards */
.products {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  gap: 20px;
}
.product-card {
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
  border-radius: 15px;
  text-align: center;
  padding: 20px;
  width: 30%;
}
.product-card img {
  width: 100%;
  max-width: 200px;
  margin-bottom: 20px;
}
.product-card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.product-card p {
  font-size: 0.95rem;
  color: #666;
  margin-bottom: 15px;
}
.learn-btn {
  text-decoration: none;
  padding: 8px 18px;
  background-color: #f0f0f0;
  border-radius: 8px;
  font-weight: 600;
  color: #333;
}
